@import '../../../../constants';

.title8 {
  font-family: $fontBBold;
  color: $green;
  font-size: 25px;
  margin-bottom: 25px; 
  text-align: center; 
}
@media screen and (max-width: 400px){
  title8 {
  }
}

