@import '../../../../constants';

.title1 {
  color: $red;
  fontFamily: $fontBBold;
  text-transform: uppercase; 
  font-size: 35px;
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  &::before {
    content: "";
    display: block;
    background-position: -0px -0px;
    width: 21px;
    height: 39px;
    background-image: url('http://127.0.0.1:3030/images/sprites/sprite-aboutus.png');
    background-size: 43px 39px;
    position: absolute;
    left: 15px;  
  }
}
@media screen and (max-width: 400px){
  title1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

