@import '../../../../constants';

.title1 {
  color: $red;
  fontFamily: $fontBBold;
  text-transform: uppercase; 
  font-size: 35px;
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 40px;
  &::before {
    content: "";
    display: block;
    background-position: -0px -0px;
    width: 21px;
    height: 39px;
    background-image: url('http://127.0.0.1:3030/images/sprites/sprite-aboutus.png');
    background-size: 43px 39px;
    position: absolute;
    left: 15px;  
  }
}
.title2{
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 16px;
  padding-left: 50px;
  margin-bottom: 50px;
}
.title3{
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 15px;
  padding-left: 40px;
  padding-bottom: 25px;
  text-transform: uppercase; 
  margin-bottom: 25px;
  margin-top: 0;
  border-bottom: 4px solid $blueMedium;
  &::before {
    content: "";
    display: block;
    background-position: -21px -0px;
    width: 22px;
    height: 22px;
    background-image: url('http://127.0.0.1:3030/images/sprites/sprite-aboutus.png');
    background-size: 43px 39px;
    position: absolute;
    left: 40px;  
    top: 27px;
  }
}
.title4 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase; 
}
.title5 {
  font-family: $fontBBold;
  color: $red;
  font-size: 15px;
  margin-top: 22px;
}
.title6 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 40px;
  margin-bottom: 50px; 
}
.title7 {
  font-family: $fontBBold;
  color: $green;
  font-size: 30px;
  margin-bottom: 10px; 
  text-transform: uppercase;
  text-align: center;
}
.title8 {
  font-family: $fontBBold;
  color: $green;
  font-size: 25px;
  margin-bottom: 25px; 
  text-align: center; 
}

.title9 {
  font-family: $fontABold;
  color: white;
  font-size: 20;
  margin-top: 0;
  margin-bottom: 18px; 
  text-transform: uppercase;
}

.title10 {
  font-family: $fontBBold;
  color: $green;
  font-size: 35px;
  margin-bottom: 40px; 
  text-transform: uppercase;
}

.title11 {
  font-family: $fontBBold;
  color: $yellow;
  font-size: 25px;
  margin-bottom: 70px; 
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
}

.title12 {
  font-family: $fontBBold;
  color: $red;
  font-size: 25px;
  margin-bottom: 34px;
}

.title13 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 18px;
  margin-bottom: 34px;
}

.title14 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 25px;
  margin-bottom: 0;
}

.title15 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 18px;
  margin-bottom: 34px;
  text-transform: uppercase;
  margin-bottom: 34px;
  margin-top: 0;
}

.title16 {
  font-family: $fontBBold;
  color: $grayDark;
  font-size: 18px;
  margin-bottom: 34px;
}

.title17 {
  font-family: $fontBBold;
  color: $yellow;
  font-size: 25px;
  margin-bottom: 28px;
}
.title18 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: 0;
}
.title19 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 15px;
  margin-bottom: 0;
  text-transform: uppercase; 
}
@media screen and (max-width: 400px){
  .title1 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .title6 {
    font-size: 22px;
  }
}

