@import '../../../../constants';

.intro {
  margin-top: 75px;
  padding: 0 52px;

  @media #{$isTablet} {
    padding: 0 15px;
  }

  h2 {
    font-family: $fontBBold;
    font-size: 35px;
    color: $green;
    margin-top: 0;

    @media #{$isTablet} {
      font-size: 30px;
    }
  }

  p {
    font-family: $fontALigth;
    font-size: 15px;
    color: $grayDark;

    @media #{$isTablet} {
      font-size: 13px;
    }
  }
}
