@import '../../../../constants';

.title10 {
  font-family: $fontABold;
  color: white;
  font-size: 20;
  margin-top: 0;
  margin-bottom: 18px; 
  text-transform: uppercase;
}
@media screen and (max-width: 400px){
  title10 {
  }
}

