@import '../../../../constants';

.title4 {
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase; 
}
@media screen and (max-width: 400px){
  title4 {
    margin-bottom: 15px;
  }
}

