@import '../../../../constants';


.navbarDefault {
  background: none;
  border: none;
  height: 108px;
}

.navbarHeader {
  margin-top: 37px;
  margin-left: 52px;
}

.navbarNav {
  margin-top: 21px;
  margin-left: 112px;
}

.navbarBrand {
  color: $grayDark;
  font-size: 16px;
  font-family: $fontABold;
}

.navbarCollapse{
  border: none;
}

.navbarNavAnchor {
  font-family: $fontABold;
  font-size: 10px;
  color: $grayLight;
  text-transform: uppercase;

  &:hover {
    color: $blueMedium;
    background-color: initial;
  }
}

.socialNetwork {
  margin-top: 30px;
  float: right;
}
