@import '../../../../constants';

.button1{
  display: block;
  font-family: $fontBBold;
  background-color: $blueDark;
  color: white;
  font-size: 12px;
  margin-bottom: 22px;
  padding: 20px 0 20px 30px;
  position: relative;
  &:hover{
    background-color: $blueMedium;
    color: white;
    text-decoration: none;
  }
  &:after{
  	display: block;
    content: '';
  	width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  	position: absolute;
  	right: 11px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $blueDark;
  	top: 50%;
  }
  &:before{
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translate(-50%, -50%);
    background-color: $yellow;
    position: absolute;
    right: 13px;
    top: 50%;
  }

  @media screen and (max-width: 400px){
  	margin-bottom: 15px;
  }
}
.button2{
  @extend .button1;
  background-color: $blueLight;
  &::after{
    transform: translate(-100%, -75%);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid $blueMedium;
    right: 3px;
  }
}

.button3{
  color: white;
  font-family: $fontA;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 13px;
  &:hover{
    color: white;
    text-decoration: underline;
  }
  h2{
    color: white;
    font-size: 13px;
    font-family: $fontA;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.button4{
  @extend .button2;
  background: none;
  margin-bottom: 20px;
  font-size: 16px;

  &:hover{
    background: rgba(255, 255, 255, .3);
  }
}

.button5{
  font-family: $fontBBold;
  font-size: 16px;
  display: block;
  color: $white;
  padding: 10px 0;

  @extend  .arrow;

  &:after {
    right: 40px;
  }

  &:hover {
    color: $white;
  }

}
