@import '../../../../constants';

.button1{
  display: block;
  font-family: $fontBBold;
  background-color: $blueDark;
  color: white;
  font-size: 12px;
  list-style: none;
  margin-bottom: 22px;
  padding: 20px 0 20px 30px;
  position: relative;
  &:hover{
    background-color: $blueMedium;
    color: white; 
    text-decoration: none;
  }
  &:after{
  	display: block;
    content: '';
  	width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
  	position: absolute;
  	right: 11px;
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $blueDark;
  	top: 50%;
  }
  &:before{
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    transform: rotate(45deg) translate(-50%, -50%);
    background-color: $yellow;
    position: absolute;
    right: 13px;
    top: 50%;
  }
}
@media screen and (max-width: 400px){
	.button1{
		margin-bottom: 15px;
	}
}

