@import '../../../constants';

.carouselInner {

  h1 {
    color: $white;
    font-size: 45px;
    font-family: $fontBBold;
  }

  p {
    color: $white;
    font-size: 20px;
    font-family: $fontALigth;
    margin-top: 62px;
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;
    margin-top: 50px;

    @extend .btnA
  }
}

.item {
  padding-left: 52px;
  padding-top: 100px;
}

.plantelTile {

  h1 {
    color: $yellow;
    font-size: 30px;
    font-family: $fontBBold;
    margin-top: 26px;
    margin-bottom: 32px;
    position: relative;

    @extend .arrowB;
  }

  h2 {
    color: $white;
    font-family: $fontA;
    font-size: 13px;
    text-transform: uppercase;
  }

  p {
    color: $white;
  }

  a {
    font-family: $fontABold;
    font-size: 18px;
    color: $white;
  }
}

.extras {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: $red;
    font-family: $fontBBold;
    font-size: 25px;
    margin-top: 30px;
  }

  p {
    color: $grayDark;
    font-family: $fontALigth;
    font-size: 14px;
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;
    background-color: $blueLight;
    margin-top: 30px;
    display: inline-block;

    @extend .btnA
  }
}

.proyectoK{
  background-color: $blueLight;
  height: 310px;
  padding-left: 52px;
  margin-bottom: 60px;
  margin-top: 20px;

  h2 {
    color: $yellow;
    font-size: 10px;
    font-family: $fontALigth;
    padding-top: 32px;
  }

  h1 {
    color: $yellow;
    font-size: 30px;
    font-family: $fontBBold;
    margin-top: 24px;
  }

  p {
    font-family: $fontALigth;
    font-size: 16px;
    color: $white;
    margin-top: 14px;
    max-width: 430px;
  }

  a {
    margin-top: 10px;
    color: $white;
    font-family: $fontBBold;
    font-size: 16px;
    padding-left: 0;

    @extend .btnA
  }
}

.wrapperElement {
  padding-left: 10px;
}
