@import '../../../constants';

.carouselInner {

  h1 {
    color: $white;
    font-size: 45px;
    font-family: $fontBBold;
  }

  p {
    color: $white;
    font-size: 20px;
    font-family: $fontALigth;
    margin-top: 62px;
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;

    display: inline-block;
    padding: 15px 55px 15px 20px;
    line-height: 10px;
    margin-top: 50px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 15px;

      background-position: -160px -46px;
      width: 17px;
      height: 17px;
      background-image: url('http://127.0.0.1:3000/images/sprites/sprite-general.png');
      background-size: 183px 143px
    }
  }
}

.item {
  padding-left: 52px;
  padding-top: 100px;
}

.plantelTile {

  h1 {
    color: $yellow;
    font-size: 30px;
    font-family: $fontBBold;
    margin-top: 26px;
    margin-bottom: 32px;
  }

  h2 {
    color: $white;
    font-family: $fontA;
    font-size: 13px;
    text-transform: uppercase;
  }

  p {
    color: $white;
  }

  a {
    font-family: $fontABold;
    font-size: 18px;
    color: $white;
  }
}

.extras {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: $red;
    font-family: $fontBBold;
    font-size: 25px;
    margin-top: 30px;
  }

  p {
    color: $grayDark;
    font-family: $fontALigth;
    font-size: 14px;
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;
    background-color: $blueLight;
    margin-top: 30px;
    display: inline-block;

    @extend .btnA
  }
}
