@import '../../../constants';

.backgroundBlue {
  background-color: $blueMedium;
}

.backgroundRed {
  background-color: $red;
}

.backgroundGrend {
  background-color: $green;
}

.levels{
  color: $white;
  font-family: $fontA;
  font-size: 11px;
}
