$blueDark: #003A5E;
$blueMedium: #0055A0;
$blueLight: #0079BD;
$blueLighter: #F3FAFF;
$red: #E72227;
$green: #00A54F;
$yellow: #FFE400;
$grayLight: #B5B5B5;
$grayDark: #4D4D4D;
$white: #FFFFFF;
$black: #000000;


$fontA: 'nunito';
$fontABold: 'nunito-bold';
$fontALigth: 'nunito-light';

$fontB: 'montserrat';
$fontBBold: 'montserrat-bold';

.btnA {
  display: inline-block;
  padding: 15px 55px 15px 20px;
  line-height: 10px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 15px;

    background-position: -160px -46px;
    width: 17px;
    height: 17px;
    background-image: url('http://127.0.0.1:3030/images/sprites/sprite-general.png');
    background-size: 183px 143px
  }
}
