$blueDark: #003A5E;
$blueMedium: #0055A0;
$blueLight: #0079BD;
$blueLightest: #F1F8FF;
$blueLighter: #F3FAFF;
$red: #E72227;
$green: #00A54F;
$yellow: #FFE400;
$grayLight: #B5B5B5;
$grayDark: #4D4D4D;
$white: #FFFFFF;
$black: #000000;


$fontA: 'nunito';
$fontABold: 'nunito-bold';
$fontALigth: 'nunito-light';

$fontB: 'montserrat';
$fontBBold: 'montserrat-bold';

// ****************** mixins *********************

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}
//transform border-radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.btnA {
  display: inline-block;
  padding: 15px 55px 15px 20px;
  line-height: 10px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 15px;

    background-position: -160px -46px;
    width: 17px;
    height: 17px;
    background-image: url('http://127.0.0.1:3030/images/sprites/sprite-general.png');
    background-size: 183px 143px
  }
 }
