@import '../../../../constants';

.blue{
  display: block;
  background: $blueMedium;
  text-transform: uppercase;
  color: $yellow;
  cursor: pointer;
  font-size: 27px;
  font-family: $fontBBold;
  padding: 30px 25px 25px 50px;
  &:hover{
    color: white; 
    text-decoration: none;
  }
  h2{
    color: white; 
    font-size: 13px;
    font-family: $fontA;
    margin-top: 0;
    margin-bottom: 15px;
  }
}
.red{
  @extend .blue;
  background: $red;
}
.green{
  @extend .blue;
  background: $green;
}
@media screen and (max-width: 400px){
  .blue{
    font-size: 12px;
    padding: 15px 10px;
    text-align: center;
    h2{
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
}

