@import '../../../constants';
.vAligner {
  margin-top: 100px;
}
.bottom180 {
  margin-bottom: 180px;
}
.right.carousel-control {
	background-image: none;
	background: #000;
}
@media screen and (max-width: 400px) {
  .vAligner {
    margin-top: 30px;
  }
  .bottom180 {
    margin-bottom: 30px;
  }
}

.vision {

  min-height: 450px;

  @media #{$isPhone} {
    h1 {
      height: 60px;
    }
  }

  li {
    background-color: $green !important;
    border: none;
    margin: 0 15px !important;
  }

  p{
    min-height: 280px;
    margin-bottom: 0px !important;
    @media #{$isPhone} {
      min-height: 300px;
    }
  }
}
