@import '../../../../constants';

.title3{
  font-family: $fontBBold;
  color: $blueMedium;
  font-size: 15px;
  padding-left: 25px;
  padding-bottom: 25px;
  text-transform: uppercase; 
  margin-bottom: 25px;
  border-bottom: 4px solid $blueMedium;
}
@media screen and (max-width: 400px){
	.title3{
		margin-bottom: 20px;
	}
}

