@import '../../../constants';

.activities {
  margin-top: 60px;
  text-align: center;
  padding: 0;

  h1 {
    font-family: $fontBBold;
    font-size: 25px;
    color: $red;

    @media #{$isTablet} {
      font-size: 16px;
    }
  }

  p {
    font-family: $fontALigth;
    font-size: 18px;
    color: $grayDark;
  }
}

.contact {
  clear: both;
  padding: 0px 52px;
  margin-top: 120px;

  @media #{$isTablet} {
    padding: 0;
  }

  p {
    font-family: $fontALigth;
  	font-size: 15px;
  	color: $grayDark;

  	@media #{$isTablet} {
  		font-size: 13px;
  	}
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;
    background-color: $blueLight;

    @extend .btnA
  }
}

.schedule {
  margin-top: 70px;
  margin-bottom: 60px;
  padding: 0 32px;

  @media #{$isTablet} {
    padding: 0;
  }

  h1 {
    font-family: $fontBBold;
    font-size: 25px;
    color: $blueLight;
    margin-top: 5px;
    margin-bottom: 24px;
  }

  p {
    font-family: $fontALigth;
    font-size: 15px;
    color: $grayDark;

    @media #{$isTablet} {
      font-size: 12px;
    }
  }

  span {
    display: inline-block;
    background-color: $yellow;
    padding: 10px 20px 10px 0;
    color: $blueLight;
    font-family: $fontABold;
  }

  a {
    font-family: $fontBBold;
    font-size: 16px;
    color: $white;
    background-color: $blueLight;
    margin-top: 24px;

    @extend .btnA
  }
}

.scheduleInfo {
  padding-left: 40px;

  @media #{$isTablet} {
    padding-left: 0;
  }
}
