@import '../../../../constants';

#footer {
  background-color: $blueDark;
  padding-top: 80px;

  ul {
    padding: 0;
    padding-top: 10px;
  }

  li {
    list-style: none;
  }

  a {
    font-size: 10px;
  }
}

.footerWrapper {
  position: relative;
  padding-left: 52px;

  @media #{$isPhone} {
    padding-left: 15px;
  }
}

.footerMenu {
  margin-top: 30px;
}

.menuParent {
  float: left;
  padding-right: 22px;

  @media #{$isPhone} {
    padding-bottom: 20px;
  }

  a {
    font-family: $fontALigth;
    color: $grayLight;
    text-transform: uppercase;
  }
}

.menuChild {

  a {
    font-family: $fontABold;
    color: $white;
    text-transform: none;
  }
}

#addresses {
  width: 450px;
  position: absolute;
  right: 5px;

  @media screen and (max-width: 1201px) {
    right: -10px;
  }
  @media screen and (min-width: 1201px) {
    right: 48px;
  }

  @media screen and (max-width: 1023px) {
    display: none;
  }

  h2 {
    font-family: $fontABold;
    color: $white;
    text-transform: none;
    font-size: 10px;
  }

  p, a {
    font-family: $fontALigth;
    color: $white;
    text-transform: none;
    font-size: 10px;
  }
}

.followUs {
  padding-left: 30px;
  margin-top: 10px;

  p {
    font-family: $fontALigth;
    font-size: 10px;
    color: $white;
    float: left;
    padding-right: 20px;
    padding-top: 5px;
  }
}

.powered {
  margin-top: 80px;
  background-color: $blueMedium;
  color: $blueDark;
  padding: 15px 0;
  font-family: $fontA;
  font-size: 10px;
  padding-left: 52px;

  @media #{$isPhone} {
    padding-left: 15px;
  }

  p {
    margin: 0;
  }
}
